:root{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    overflow-x: none;
    overflow-y: none;
}

:root h1{
    font-size: 2.9rem;
    margin-bottom: 0px;
}

:root h3{
    margin: 0;
}

:root p {
    font-weight: 300;
    margin: 0;
}

:root hr{
    color: A4A8B1;
}

:root button{
    background-color: #FF5F5F;
    border: none;
    border-radius: 15px;
    padding: 15px;
    color: white;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}